body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    letter-spacing: 1px;
    line-height: 3;
    background-color: rgb(42, 37, 47);
    color:white;
}