* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    display: flex;

    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    margin: 20px;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(147, 147, 147, 0.1);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}