h1{
    font-size: 80px;
    color: rgb(100, 200, 100);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #aa00aa;
    font-size: 20px;
}