/* 
    flex-direction _ით ვაკონტროლებთ რომელ ღერძზე უნდა იყოს ელემენტები განლაგებული

    მთავარი ღერძი - არის ღერძი სადაც განლაგებულია ელემენტები
    გადამკვეთი ღერძი - არის ღერძი რომელიც კვეთავს მთავარ ღერძს

    row - ელემენტები განლაგებული იქნება x ღერძზე ერთმანეთის გვერდიგვერდ
    column - ელემენტები განლაგებულნი იქნებიან y ღერძზე ერთმანეთს ქვემოთ
*/

/* 
    justify-content - ცვლის მთავარი ღერძის კორდინატებს

    flex-end გადააქვს მთავარი ღერძის ბოლოში
    flex-start გადააქვს მთავარი ღერძის დასაწყისში
    center გადააქვს ცენტრში
    space-between სრული დაშორება ელემენტებს შორის
    space-around კიდებსა და ელემენტებს შორის დაშორება არის სხვადასხვა
    space-evenly კიდეებსა და ელემენტებს შორის დაშორება არის ზუსტი
*/

/* 
    align-items - ვცვლით გადამკვეთი ღერძის კორდინატებს

    flex-end - გადააქვს გადამკვეთი ღერძის ბოლოში
    flex-start - გადააქვს გადამკვეთი ღერძის დასაწყიში
    center - გადააქვს გადამკვეთი ღერძის ცენტრში
*/

.parent {
    display: flex;
    justify-content: space-around;
}


.child {
    padding: 150px;
    border: solid;
    font-size: 50px;
    font-family: fantasy;
    border-radius: 10%;
    color: rgb(29, 53, 105);
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 30px red;
}